<div *ngIf="!termsOffre">
    <div class="form-group">
        <h3 class="text-center text-primary">Qu'elle sont les terms de l'offre ?</h3>
        <hr>
        <div>
            <span> Voulez-vous donner un temps de réalisttion ? </span>
            <br>
            <span> Ps : sans temps de réalisation vous laisser votre dévellopeur vous en fournir un. </span>
            <br>
            <span> Cela permet de le mettre en confiance pour établir son planing et laisse aussi une place de concurence entre chaque developpeur. </span>
            <input id="ponctuel" type="checkbox" name="poncutel" (change)="noDaedLine()"  title="poncutel">
        </div>
        <div *ngIf="deadLine" class="form-group">
            <hr>
            <span> Combien de temps fixé vous pour finir le projet en totalité ? </span>
            <select (change)="ponctuelMontant(valueRecu)" [(ngModel)]="valueRecu">
                <option *ngFor="let recu of recurence" value="{{recu}}">{{recu}}</option>
            </select>
            <div *ngIf="deadLine && (ponctuelHourMontant || ponctuelDayMontant || ponctuelWeekMontant || ponctuelMonthMontant)">
                <div *ngIf="!termsOffre && ponctuelHourMontant" class="form-group">
                    <input type="number" class="form-control" min="1" max="24" name="Nombre" [(ngModel)]="termsEnd.nombre" placeholder="Nombre">
                </div>
                <div *ngIf="!termsOffre && ponctuelDayMontant" class="form-group">
                    <input type="text" class="form-control" min="1" max="31" name="Nombre" [(ngModel)]="termsEnd.nombre" placeholder="Nombre">
                </div>
                <div *ngIf="!termsOffre && ponctuelWeekMontant" class="form-group">
                    <input type="text" class="form-control"  min="1" max="4" name="Nombre" [(ngModel)]="termsEnd.nombre" placeholder="Nombre">
                </div>
                <div *ngIf="!termsOffre && ponctuelMonthMontant" class="form-group">
                    <input type="text" class="form-control" min="1" max="12" name="Nombre" [(ngModel)]="termsEnd.nombre" placeholder="Nombre">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-default mr-2" type="button">Cancel</button>
        <button (click)="penaltyOffreToggle()" class="btn btn-success mr-2" type="submit">Next</button>
    </div>
</div>

<div *ngIf="termsOffre">
    <app-penalty-offre (cancelRegister)="cancelPenaltyOffre($event)" ></app-penalty-offre>
</div>