<div class="form-group">
    <h3 class="text-center text-primary">Qu'elles sont les terms du contrat ?</h3>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="Nombre" 
        [(ngModel)]="termsEnd.nombre" placeholder="Nombre">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="Recurence" 
        [(ngModel)]="termsEnd.TypeTime" placeholder="Recurence">
    </div>
</div>

<div class="form-group text-center">
    <button class="btn btn-default mr-2" type="button">Cancel</button>
</div>