#labelTime {
    display: block;
    float: left;
    margin-right: 1%;
    margin-top: 5px;
}

#nombre {
    display: block;
    margin-right: 1%;
    width: 10%;
    float: left;
}

#typeTime {
    display: block;
    margin-right: 1%;
    margin-top: 7px;
    width: 10%;
    float: left;
}

.divPositionTime {
    position: relative;
    height: 35px;
    margin-bottom: 2% !important;
}

.divPositionTotalSomme {
    position: relative;
}

#labelTotalSomme {
    display: inline;
    text-align: center;
    margin-bottom: 15px;
}

#totalSomme {
    display: block;
    text-align: center;
    margin-top: 15px;
}