<div *ngIf="!termsOffre">
    <div class="form-group">
        <h3 class="text-center text-primary">Qu'elle est le délai pour finir le projet ?</h3>
        <hr>
        <div class="form-group">
            <div class="divPositionTime">
                <span id="labelTime">Le freelanceur aura </span>
                <input id="nombre" type="number" class="form-control" name="Nombre" [(ngModel)]="termsEnd.valeur" placeholder="Nombre">
                <select id="typeTime" (change)="ponctuelMontant(typeTimeSelect)" [(ngModel)]="typeTimeSelect">
                    <option *ngFor="let typeTime of typeTimes" value="{{typeTime}}">{{typeTime}}</option>
                </select>
                <span id="labelTime"> pour finir le projet.</span>
            </div>
            <hr>
            <div class="divPositionTotalSomme">
                <span id="labelTotalSomme"> Qu'elle est le montant total de l'offre ? </span>
                <div id="totalSomme" class="form-group">
                    <input type="number" class="form-control"  name="Nombre" [(ngModel)]="salary.totalAmount" placeholder="Nombre">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-default mr-2" type="button">Cancel</button>
        <button (click)="penaltyOffreToggle()" class="btn btn-success mr-2" type="submit">Next</button>
    </div>
</div>

<div *ngIf="termsOffre">
    <app-final-offre [newOffre]='newOffre' (cancelRegister)="cancelPenaltyOffre($event)" ></app-final-offre>
</div>