<div *ngIf="!languageComputerFavoris">
    <div class="form-group" >
        <legend class="question">Choisez les langagues informatique du projet ?</legend> 
        <fieldset class="favoris">
            <input type="checkbox" name="C#" value="C#"> C#<br>
            <input type="checkbox" name="Java" value="Java"> Java<br>
            <input type="checkbox" name="JavaScript" value="JavaScript"> JavaScript<br>
            <input type="checkbox" name="Html/Css" value="Html/Css"> Html/Css<br>
            <input type="checkbox" name="Windev" value="windev"> windev<br>
            <input type="checkbox" name="Etc" value="etc"> etc<br>
        </fieldset>  
    </div>
    <br>
    <div class="form-group text-center">
        <button class="btn btn-default mr-2" type="button">Cancel</button>
        <button (click)="languageComputerFavorisToggle()" class="btn btn-success mr-2" type="submit">Next</button>
    </div>
</div>

<div *ngIf="languageComputerFavoris">
    <app-language-speak-offre (cancelRegister)="cancelLanguageComputerFavoris($event)" ></app-language-speak-offre>
</div>