<div *ngIf="!salaryOffre">
    <div class="form-group">
        <h3 class="text-center text-primary">Qu'elle est le salaraire ?</h3>
        <hr>
        <div class="form-group">
            <input type="text" class="form-control" name="Montant" [(ngModel)]="salary.montant" placeholder="Montant">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Nombre" 
            [(ngModel)]="salaryRecurence.nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Recurence" 
            [(ngModel)]="salaryRecurence.typeTime" placeholder="Recurence">
        </div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-default mr-2" type="button">Cancel</button>
        <button (click)="salaryOffreToggle()" class="btn btn-success mr-2" type="submit">Next</button>
    </div>
</div>

<div *ngIf="salaryOffre">
    <app-penalty-offre (cancelRegister)="cancelSalaryOffre($event)" ></app-penalty-offre>
</div>