<div *ngIf="!salaryOffre">
    <div class="form-group">
        <h3 class="text-center text-primary">Qu'elle est le salaraire ?</h3>
        <hr>
        <div>
            <span> Le paiement sera ponctuel ou non ? </span>
            <input id="ponctuel" type="checkbox" name="poncutel" (change)="isPonctuel()"  title="poncutel">
        </div>
        <div class="form-group">
            <hr>
            <span> Qu'elle est le type de taux à appliqué sur le montant ? </span>
            <select (change)="ponctuelMontant(valueRecu)" [(ngModel)]="valueRecu">
                <option *ngFor="let recu of recurence" value="{{recu}}">{{recu}}</option>
            </select>
        </div>
        <div *ngIf="(ponctuelHourMontant || ponctuelDayMontant || ponctuelWeekMontant || ponctuelMonthMontant)">
            <span> Qu'elle est le montant total de l'offre ? </span>
            <div *ngIf="!ponctuel && ponctuelHourMontant" class="form-group">
                <input type="number" class="form-control" min="1" max="24" name="Nombre" [(ngModel)]="salaryRecurence.nombre" placeholder="Nombre">
            </div>
        </div>
        <div>
            <hr>
            <span> Qu'elle est le montant ? </span>
            <div class="form-group">
                <input type="number" class="form-control" name="Nombre" [(ngModel)]="salary.nombre" placeholder="Montant">
            </div>
        </div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-default mr-2" type="button">Cancel</button>
        <button (click)="salaryOffreToggle()" class="btn btn-success mr-2" type="submit">Next</button>
    </div>
</div>

<div *ngIf="salaryOffre">
    <app-penalty-offre (cancelRegister)="cancelSalaryOffre($event)" ></app-penalty-offre>
</div>